<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHIHI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src=" https://unpkg.com/sweetalert/dist/sweetalert.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.9/angular-locale_vi-vn.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body ng-app="myApp" ng-controller="appController">

    <div class="">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <div class="container ">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="Logo" style="width:40px;" class="rounded-pill">
                </a>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">BỘ SƯ TẬP</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#!/y2010">Y2010 ORIGINALS</a></li>
                                <li><a class="dropdown-item" href="#">NGHỆ THUẬT TỐI GIẢN</a></li>
                                <li><a class="dropdown-item" href="#">ĐƠN GIẢN MÀ SANG</a></li>
                                <li><a class="dropdown-item" href="#">SPACE</a></li>
                                <li><a class="dropdown-item" href="#">LINH VẬT BBUFF</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">MỞ BÁN SẢN PHẨM MỚI</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">ÁO THUN</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">ÁO THUN 3 LỔ</a></li>
                                <li><a class="dropdown-item" href="#">ÁO CỔ TRỤ</a></li>
                                <li><a class="dropdown-item" href="#">ÁO TỐI GIẢN</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control   me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>

                    </form>


                    <ul class="mt-3 me-2" ng-controller="chiTietController">
                        <li class="nav-item  ">
                            <a class="nav-link  canCart" href="#!/cart" data-bs-toggle="tooltip" data-bs-placement="right" title="{{cart.length}}">
                                <img src="img/Shopping Cart.png" alt="" width="30px" height="30px">
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav " ng-controller="loginController">
                        <li class="nav-item dropdown text-info">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><img src="img/user_20px.png" alt="" width="30px" height="30px"></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" ng-click="onLogout()">Đăng Nhập</a></li>
                                <li><a class="dropdown-item" ng-click="onLogout()">Đăng Xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <ng-view></ng-view>
    </div>


    <div class="container-fluid mt-5 text-center bg-black">
        <a href=""><img href="index.html" class="m-3" src="img/logo.png" alt="Card image" style="width:5%"></a>
        <h2 class="text-white pb-3">© Demo Copyright. Not yet registered copyright.</h2>
    </div>



</body>

</html>
